[Desktop Entry]
Type=Application
Version=1.0.0
Name=changepassword
Comment=changepassword
Icon=/usr/share/icons/changepassword.png
Exec=/usr/bin/changepassword
Terminal=false
